<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog_View</title>
    
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
</head>
<body>
    <div class="main-container">
        <h1>tampokLokal_BlogPosts</h1>
        <a href="/new" title="Create a New Blog Post" id="add">( + New )</a>
        <ul>
        <% posts.forEach(post => { %>
            <li class="blog-post">
                <h2><%= post.title %></h2>
                <p><%= post.content %></p>
                <br><br>
                <small><i>Posted by: <%= post.username || 'Anonymous' %></i></small>
                <div class="li-option">
                    <a href="/edit/<%= post._id %>" id="edit">Edit</a>
                    <a href="/delete/<%= post._id %>" onclick="return confirm('Are you sure?');" id="delete">Delete</a>
                </div>
            </li>
        <% }); %>
        </ul>
    </div>
</body>
</html>